body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F7F2F3;
}
#page {
    margin-left: 10%;
    width: 80%;
    background-color: white;
    font-family: "Trebuchet MS", "DejaVu Sans", Arial, serif;
    font-size: .9em;
    color: #333333;
    font-weight: normal;
    border-left: 1px solid #babdb6;
    border-right: 1px solid #babdb6;
}

#page #contenu {
    padding: 20px;
    padding-top: 6px;
}

a { color: #ED4E59; text-decoration: none; }
a:hover { color: #ED4E59; text-decoration: underline; }

header {
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, serif;
    background-color: #8F0719;
    margin: 0;
    padding: 12px;

}

header h1 a {
    text-decoration: none;
    color: white;    
    font-size: .9em;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h3 {
    font-style: italic;
    font-weight: lighter;
    display: inline;
}

header ul#nav {
    display: inline;
    float: right;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 4px;
    margin-right: 4px;
}

header ul#nav li {
    display: inline;
    padding: 13px;
}

header ul#nav a {
    text-decoration: none;
    color: white;
}

header ul#nav a:hover {
    color: white;
    text-decoration: underline;
}

.codehilite { padding : 1px 12px; }
label, input { display: block; }

/* Loosely based on pygment's default colors */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre 
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; } 
td.sourceCode { padding-left: 5px; }
pre.sourceCode { }
pre.sourceCode span.kw { color: #007020; font-weight: bold; } 
pre.sourceCode span.dt { color: #902000; }
pre.sourceCode span.dv { color: #40a070; }
pre.sourceCode span.bn { color: #40a070; }
pre.sourceCode span.fl { color: #40a070; }
pre.sourceCode span.ch { color: #4070a0; }
pre.sourceCode span.st { color: #4070a0; }
pre.sourceCode span.co { color: #60a0b0; font-style: italic; }
pre.sourceCode span.ot { color: #007020; }
pre.sourceCode span.al { color: red; font-weight: bold; }
pre.sourceCode span.fu { color: #06287e; }
pre.sourceCode span.re { }
pre.sourceCode span.er { color: red; font-weight: bold; }
